/*!*************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/main.scss ***!
  \*************************************************************************************************************/
/* import fonts */
/* Source Sans Pro regular*/
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Regular.ttf) format("TrueType");
  font-weight: 400;
}
/* Source Sans Pro semi-bold*/
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-SemiBold.ttf) format("TrueType");
  font-weight: 600;
}
/* Source Sans Pro semi-bold*/
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Bold.ttf) format("TrueType");
  font-weight: 700;
}
/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format("TrueType");
  font-weight: 700;
}
/*******************
 Box Sizing
 *******************/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/****************************
   Generic Margins and Paddings
   ****************************/
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

/*******************
   Lists
   *******************/
ul {
  list-style: none;
}

/*******************
   Forms and buttons
   *******************/
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

/* I usually expand input and textarea to full-width */
input[type=text],
textarea {
  width: 100%;
}

/* More friendly border */
input,
textarea,
button {
  border: 1px solid gray;
}

/* Some defaults for one-liner buttons */
button {
  padding: 0.75em 1em;
  border-radius: 0;
  line-height: 1;
  background-color: transparent;
}

button * {
  pointer-events: none;
}

/***********************************
   Easy responsive for media elements
   ***********************************/
img,
svg,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%;
}

/*******************
   Useful table styles
   *******************/
table {
  table-layout: fixed;
  width: 100%;
}

/*******************
   The hidden attribute
   *******************/
[hidden] {
  display: none !important;
}

/*******************
   Noscript
   *******************/
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}

/*******************
   Focus
   *******************/
[tabindex="-1"] {
  outline: none !important;
}

/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator */
/* Global styles
------------------------------------ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Default font size */
  font-size: 16px;
}

body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #111827;
  background-color: #ffffff;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin-inline: auto;
}
.container > * {
  max-width: 100%;
}
.container > main {
  margin-block: 0 auto;
}
.container > :first-child:not(main) {
  margin-block-start: 0;
}
.container > :last-child:not(main) {
  margin-block-end: 0;
}

/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator */
