$color-white: #ffffff;
$color-snow: #F9FAFB;
$color-mist: #F3F4F6;
$color-cloud: #E5E7EB;
$color-silver: #D1D5DB;
$color-blue-gray: #9CA3AF;
$color-slate-gray: #6B7280;
$color-gunmetal: #4B5563;
$color-mako-gray: #374151;
$color-ebony: #1F2937;
$color-black: #111827;